Flask==3.1.1
gunicorn==23.0.0

openai==2.7.1
openai-agents==0.4.2

langchain==1.0.3
langchain-community==0.4.1
langchain-openai==1.0.2
langchain-text-splitters==1.0.0

qdrant-client==1.15.1
fastembed==0.7.3
pypdf==5.9.0
python-dotenv==1.1.1

setuptools>=75.0.0
wheel>=0.45.0
